body {
  background: #e1daca;
}

.background {
  display: block;
  background-image:url('https://steamuserimages-a.akamaihd.net/ugc/843717216550589517/825981045A4F25599814E1D213C9340E0D387655/');
  background-repeat: no-repeat;
  background-size: 1000px 700px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}